.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__current-group
        = @group.name
        %ul.chat-main__main-header__left-box__member-list
          - @group.users.each do |users|
            = users.name

    = link_to edit_group_path(params[:group_id]), method: :get do
      .chat-main__main-header__edit-btn
        Edit
  .chat-main__messages
    .upper-message
      .upper-message_user-name
      .upper-message_date
    .lower-message
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      .new__message
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
